body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #222;
  color: white;
}

.logo {
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff9800;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: #333;
  color: white;
}

.hero button {
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  background: #ff9800;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.hero button:hover {
  background: #e68900;
}

/* Sections */
.about, .books, .contact {
  padding: 50px 20px;
  text-align: center;
}

/* Books */
.book-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.book-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
  transition: 0.3s;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card img {
  width: 50%;
  border-radius: 5px;
}

.book-card button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background: #222;
  color: grey;
  cursor: pointer;
  border-radius: 5px;
}

.book-card button:hover {
  background: #555;
}

/* Footer */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
.book-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
  transition: 0.3s;
  
  border: 2px solid black; /* 👈 this line adds outline */
}
border: 1px solid #ccc;
